*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /*Colors*/
    --Pale-Blue: hsl(225, 100%, 94%);
    --Bright-Blue: hsl(245, 75%, 52%);
    --Very-Pale-Blue: hsl(225, 100%, 98%);
    --Desaturated-Blue: hsl(224, 23%, 55%);
    --Dark-Blue: hsl(223,47%, 23%);  
}

body {
    max-width: max-content; /*This makes the body in max-width based on the content*/
    margin: auto; /*This makes the body all of its items inside automatically centered y and x axis*/
    background-image: url(./images/pattern-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--Pale-Blue);

    display: flex; /*Make this a flex so that items inside of it can be aligned*/
    justify-content: center; /*Positions flex items to center horizontaly ( X axis )*/
    align-items: center; /*Positions flex items to center vertically (Y axis>*/
    flex-direction: column; /* The dafult is row, this makes it to column*/
}


.card-box { /*This is now flex item. parent is bodyr*/
    background-color: var(--Very-Pale-Blue);
    height: 460px; /*Sets hard height*/
    width: 350px; /*Sets hard width*/
    border-radius: 20px;
    box-shadow: 0px 10px 5px -2px var(--Desaturated-Blue);
    
    margin-top: 20%; /*Adds top space by using margin in box model*/

    display: flex; /*Make this a flex parent. all of items inside of this will become flex-item*/
    flex-direction: column; /*The default flex-direction is row, i changed it to column*/
    justify-content: space-between; /*add space between flex item depending on remaining space*/
}

img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
